
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$base-color_0: rgb(255,255,255);
$base-color_1: rgb(241,239,234);
$base-color_2: rgb(194,174,116);
$base-color_3: rgb(143,161,214);
$base-color_4: rgb(158, 174, 161);
$base-color_5: rgb(246,211,173);
$base-color_6: rgb(238, 238, 238);
